header{

    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    background: rgb(10, 24, 221);
    height: 130px;
}

.LogoButton{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo{

    display: flex;
    flex-direction: row;
}

.Logo img{

    margin-top: 10px;
    margin-right: 20px;
    width: 65px;
    height: 50px;

}

.ConnectButton{

    margin-top: 20px;
    margin-right: 20px;
}

.RouterC{

    background: transparent;
    position: relative;
    padding: 10px 15px;
    margin: 0 20px;
    color: #03e9f4;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: 1px linear-gradient(transparent, #0005);
    cursor: pointer;
    border: black solid 0.1px;
}

.RouterC:hover{

    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.page{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.routerP{

    padding: 10px 15px;
    margin: 0 20px;
    color: #000;
    text-transform: uppercase;
  
    
}

.routerP:hover{

    border-bottom: rgb(30, 2, 66) solid 2px;
    transition: 0.5s;
}